:root {
  -red: #8b0000;
  -teal: #008080;
  -goldenrod: #c18d0b;
  -eggshel: #faf3dd;
  -gray: #6e7f80;
  -jet: #333;
  -blue: #191970;
  -cinerous: #8b7d7b;
}

a {
}
a:hover {
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
}

button:hover {
}

button:focus,
button:focus-visible {
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
